@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?76qfyk');
  src:  url('./fonts/icomoon.eot?76qfyk#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?76qfyk') format('truetype'),
    url('./fonts/icomoon.woff?76qfyk') format('woff'),
    url('./fonts/icomoon.svg?76qfyk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-origin:before {
  content: "\e900";
  color: #f56c2d;
}
.icon-steam:before {
  content: "\e901";
}
.icon-microsoft:before {
  content: "\e902";
  color: #666;
}
.icon-linux:before {
  content: "\e903";
  color: #fcc624;
}
.icon-gmail:before {
  content: "\e904";
  color: #d14836;
}
.icon-android:before {
  content: "\e905";
  color: #a4c639;
}
.icon-gitlab:before {
  content: "\e906";
  color: #e24329;
}
.icon-furrynetwork:before {
  content: "\e907";
  color: #2e75b4;
}
.icon-github:before {
  content: "\e908";
}
.icon-nintendoswitch:before {
  content: "\e909";
  color: #e60012;
}
.icon-npm:before {
  content: "\e90a";
  color: #cb3837;
}
.icon-internetexplorer:before {
  content: "\e90b";
  color: #0076d6;
}
.icon-angular:before {
  content: "\e90c";
  color: #dd0031;
}
.icon-tencentqq:before {
  content: "\e90d";
  color: #12b7f5;
}
.icon-safari:before {
  content: "\e90e";
}
.icon-python:before {
  content: "\e90f";
  color: #3776ab;
}
.icon-docker:before {
  content: "\e910";
  color: #1488c6;
}
.icon-sogou:before {
  content: "\e911";
  color: #fb6022;
}
.icon-googleplus:before {
  content: "\e912";
  color: #dc4e41;
}
.icon-ubuntu:before {
  content: "\e913";
  color: #e95420;
}
.icon-amazon:before {
  content: "\e914";
  color: #f90;
}
.icon-google:before {
  content: "\e915";
  color: #4285f4;
}
.icon-mozillafirefox:before {
  content: "\e916";
  color: #ff9400;
}
.icon-windows:before {
  content: "\e917";
  color: #0078d6;
}
.icon-youtube:before {
  content: "\e918";
  color: #f00;
}
.icon-evernote:before {
  content: "\e919";
  color: #00a82d;
}
.icon-xbox:before {
  content: "\e91a";
  color: #107c10;
}
.icon-googlechrome:before {
  content: "\e91b";
  color: #4285f4;
}
.icon-twitter:before {
  content: "\e91c";
  color: #1da1f2;
}
.icon-renren:before {
  content: "\e91d";
  color: #217dc6;
}
.icon-baidu:before {
  content: "\e91e";
  color: #2319dc;
}
.icon-apple:before {
  content: "\e91f";
  color: #999;
}
